doctype html



html
	title
	head
		link(rel="stylesheet" href="./uikit-2.27.2/css/uikit.css")
		script(type="text/javascript",src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" )
		script(src="./uikit-2.27.2/js/uikit.min.js")
		script(src="#{mainScript}")
		

	body
		
		case role

			when "personnel"
				nav(class="uk-navbar")
					div(class="uk-navbar-flip")
						ul(class="uk-navbar-nav")
							li
								a(id="logOut",href="/login") 登出



			when "individual"
				nav(class="uk-navbar")
					div(class="uk-navbar-flip")
						ul(class="uk-navbar-nav")
							li
								a(href="/mainPage/editForm?fID=new") 新增假單
							li
								a(id="logOut",href="/login") 登出

		P(class="uk-text-primary uk-text-center uk-text-large uk-text-bold ") #{name}

		case role

			when "personnel"
				p 假單庫
				if (processList!={})
					table(class="uk-table uk-table-hover uk-table-striped uk-table-condensed")
						thead
							tr
								th ID
								th 日期
								th 職務代理人
								th 簽核
						tbody
					
							for l in processList
								tr
									th= l["fileID"]
									th= l["date"]
									th= l["roles"]["deputy"] 
									if l["finish"] == true
										th
											a(class="uk-button-success uk-button-large" href="./"+l['imageUri']) 檢視 
									else
										th
											a(class="uk-button-danger uk-button-large" href="/mainPage/editForm?fID="+l["fileID"]) 簽核
				else							
					p (目前未有資料)

			when "individual"
				p(class="uk-badge uk-badge-notification  uk-badge-success") 我的假單
				
				table(class="uk-table uk-table-hover uk-table-striped uk-table-condensed")
					thead
						tr
							th ID
							th 日期
							th 職務代理人

					tbody
						if (historyList)
							for l in historyList
								tr
									th= l["fileID"]
									th= l["date"]
									th= l["roles"]["deputy"] 
									if l["finish"] == true
										th
											a(class="uk-button-success uk-button-large" href="./"+l['imageUri']) 檢視 
									else
										th
											a(class="uk-button-danger uk-button-large" href="./"+l['imageUri']) 檢視 
						else
							tr
								th 目前未有資料
				
				br
				br
				br
				p(class="uk-badge uk-badge-notification  uk-badge-warning") 待審假單
				
				table(class="uk-table uk-table-hover uk-table-striped uk-table-condensed")
					thead
						tr
							th ID
							th 日期
							th 職務代理人
							th 簽核

					
					tbody
						if (processList)
							for l in processList
								tr
									th= l["fileID"]
									th= l["date"]
									th= l["roles"]["deputy"] 
									if l["finish"] == true
										th
											a(class="uk-button-success uk-button-large" href="./"+l['imageUri']) 檢視 
									else
										th
											a(class="uk-button-danger uk-button-large" href="/mainPage/editForm?fID="+l["fileID"]) 簽核
						else
							tr
								th 目前未有資料